#!/bin/bash

# Add Docker's official GPG key:
sudo apt-get update -y
sudo apt-get install -y ca-certificates curl
sudo install -m 0755 -d /etc/apt/keyrings
sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
sudo chmod a+r /etc/apt/keyrings/docker.asc

# Add the repository to Apt sources:
echo \
  "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
  $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | \
  sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

sudo apt-get update -y

sudo apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

mkdir -p /etc/html

cat << EOF > /etc/html/index.html
<html>
  <body bgcolor=black>
    <center>
      <h2><font color=yellow>Hello from NetworkThor Inc.</font></h2>
      <font color=magenta>This is our dev server!</font>
    </center>
  </body>
</html>
EOF



docker run -d -p 80:80 -v /etc/html:/usr/share/nginx/html:ro --restart unless-stopped --name test-webserver1 nginx